Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Proteger arquivos sensíveis
<FilesMatch "^(debug\.log|composer\.(json|lock))$">
    Order allow,deny
    Deny from all
</FilesMatch> 