# Permitir execução de PHP e acesso aos arquivos
Options +FollowSymLinks +Indexes
Order allow,deny
Allow from all

# Proteger apenas arquivos sensíveis
<FilesMatch "^(\.env|debug\.log|composer\.(json|lock))$">
    Order allow,deny
    Deny from all
</FilesMatch> 